<!-- Site footer -->
<br><br>
<footer class="site-footer">
  <div class="container">
    <!-- <div class="row">
      <div class="col-sm-12 col-md-4 text-center">
        <h6>About US</h6>
        <p class="text-justify">Discover cutting-edge tech shopping at Smart-Kart. Unleash a world of innovation with
          our diverse range of gadgets, all at competitive prices. </p>
      </div>

    </div>
    <hr> -->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-16 col-sm-6 col-xs-12 text-center">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
        </ul>
      </div>
    </div>
  </div>
</footer>