<mat-drawer-container hasBackdrop="false">
  <mat-drawer #drawer mode="push" position="end" >
    <app-messages></app-messages>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="fixed">
      <!-- <mat-icon aria-hidden="false" aria-label="smart-kart logo" fontIcon="smart">coffee</mat-icon> -->
      <span class="title">
        <a routerLink="/menu">
          {{title}}
         </a>
        </span>
      <span class="spacer"></span>
      <button mat-raised-button>
        <a routerLink="/menu">
         Products
        </a>
      </button>
      <!-- <span class="Products">Products
        <a routerLink="/menu"></a>
      </span> -->
      <button mat-raised-button>
        <a routerLink="/orders">
          <!-- <mat-icon aria-hidden="false" aria-label="Orders" fontIcon="assignment">assignment</mat-icon> -->
          Orders
        </a>
      </button>
      <button mat-raised-button class="cart" (click)="drawer.toggle()">
        <mat-icon matBadge={{messageService.messages.length}} matBadgeColor="warn" matBadgeOverlap="false"
        aria-hidden="false" aria-label="Shopping cart icon">shopping_cart</mat-icon>
      </button>
    </mat-toolbar>
  
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>



